@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'MyFont';
	src: url('fonts/segoeuil.eot');
	src: local('Segoe UI Light'), local('SegoeUI-Light'), url('fonts/segoeuil.woff') format('woff'), url('fonts/segoeuil.ttf') format('truetype'), url('fonts/segoeuil.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html,body{
	font-family: "MyFont", "Open Sans", Segoe UI Light, Verdana, Tahoma,Helvetica,sans-serif;
	width:100%;
	height:100%;
}
.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	background-color:#333;
	color:#CCC;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	-webkit-transition: all .2s ease-in-out;
	border-right:none;
	text-align:left;
	width:80px;
}
.navigation li:hover,.active{
	font-size:20px;
	cursor:pointer;
	border-right:5px solid #6B9BE8!important;
	width:100px!important;
}
ul.bulleted {
  list-style: disc;
  padding-left: 40px;
}
.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.title{
	position:absolute;
	bottom:70%;
	left:50%;
	font-size:40px;
	font-style:normal;
	color:rgba(255,255,255,0.8);
}
.title .centered {
	position:relative;
	left:-50%;
}
.picture{
	position:absolute;
	width:200px;
	height:200px;
	top:40%;
	left:50%;
	
}
.picture .centered{
	position:relative;
	background-image:url(../images/slide1/diego.jpg);
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
    background-repeat: no-repeat;
	width:200px;
	height:200px;
	left:-50%;
	border:2px solid black;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
	
}
.slideno{
	position:absolute;
	bottom:0px;
	right:0px;
	font-size:80px;
}
.slideno2{
	position:absolute;
	top:0px;
	right:0px;
	padding:0 0 0 20px;
	font-size:60px;
	color:rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.2);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}
#gradient{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 5%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 5%,rgba(0,0,0,0) 100%);
	background: linear-gradient(left, rgba(0,0,0,1) 5%,rgba(0,0,0,0) 100%);
}
.date{
	font-size:14px;
	text-shadow: 1px 1px 1px #CCC;
}
p.p_title{
	font-weight:bold;
	text-shadow: 1px 1px 1px #999;
	text-decoration:underline;
}
p a, p a:visited, li a, li a:visited{
	color:#000;
	text-decoration:underline;
}
p a:hover, li a:hover{	
	text-decoration:none;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#000;
	background-image:url(../images/slide1/barquisimeto.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-repeat: no-repeat;
	height:60%;
	box-shadow:inset 0px -10px 10px rgba(0,0,0,0.8);
	
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#333;
	height:100%;
	background-image:url(../images/slide2/tennis.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	overflow-x: hidden;
}
#slide2 .content_text{
	position:absolute;
	bottom:20%;
	left:10%;
	width:50%;
	font-size:20px;
	color:rgba(255,255,255,0.9);
	padding: 15px 20px 15px 20px;
	text-align:justify;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(255,255,255,0.1);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
#slide2 .slideno{
	color:rgba(255,255,255,0.3);
}

/******************************
 SLIDE 3
*******************************/
#slide3{
	background-color:#FFF;
	height:100%;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	overflow:hidden;
}
#slide3 .content_text{
	position:absolute;
	bottom:20%;
	left:10%;
	width:50%;
	height:60%;
	font-size:20px;
	color:rgba(0,0,0,0.9);
	padding: 15px 10px 15px 20px;
	text-align:justify;
	text-shadow: 1px 1px 1px #AAA;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
#slide3 .image{
	position:absolute;
	top:30%;
	left:70%;
	width:20%;
	height:30%;
	background-image:url(../images/slide3/tabletop.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
	
}
#slide3 .slideno{
	color:rgba(0,0,0,0.3);
}

/******************************
 SLIDE 4
*******************************/
#slide4{
	background:url(../images/slide4/usb.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.8);
	overflow:hidden;
}
#slide4 .content_text{
	position:absolute;
	top:10%;
	left:10%;
	width:55%;
	height:70%;
	font-size:20px;
	color:rgba(255,255,255,1);
	padding: 15px 10px 15px 20px;
	text-align:justify;
	text-shadow: 2px 2px 2px #000;
	background-color: rgba(0,0,0,0.7);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
#slide4 .slideno{
	color:rgba(255,255,255,0.9);
}
#slide4 p a, #slide4 p a:visited, #slide4 li a, #slide4 li a:visited{
	color:#FFF;
	text-decoration:underline;
}
#slide4 p a:hover, #slide4 li a:hover{	
	text-decoration:none;
}

/******************************
 SLIDE 7
*******************************/
#slide7{
	background:url(../images/slide6/caracas.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	overflow:hidden;
}
#slide7 .content_text{
	position:absolute;
	top:40%;
	left:20%;
	font-size:30px;
	color:rgba(255,255,255,1);
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(255,255,255,0);
}
#slide7 .slideno2{
}

/******************************
 SLIDE 9
*******************************/
#slide9{
	background:url(../images/slide6/monterrey.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	overflow:hidden;
}
#slide9 .content_text{
	position:absolute;
	top:30%;
	left:20%;
	font-size:30px;
	color:rgba(0,0,0,1);
	text-shadow: 2px 2px 2px #777;
	background-color: rgba(255,255,255,0);
}
#slide9 .slideno2{
}

/******************************
 SLIDE 11
*******************************/
#slide11{
	background:url(../images/slide6/berlin.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	overflow:hidden;
}
#slide11 .content_text{
	position:absolute;
	top:30%;
	left:20%;
	font-size:30px;
	color:rgba(255,255,255,1);
	text-shadow: 2px 2px 2px #000;
	background-color: rgba(255,255,255,0);
}
#slide11 .slideno2{
}

/******************************
 SLIDE 13
*******************************/
#slide13{
	background:url(../images/slide6/lugano.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	overflow:hidden;
}
#slide13 .content_text:first-child{
	position:absolute;
	top:50%;
	left:20%;
	font-size:30px;
	color:rgba(255,255,255,1);
	text-shadow: 2px 2px 2px #000;
	background-color: rgba(255,255,255,0);
}
#slide13 .content_text:nth-child(2){
	position:absolute;
	top:70%;
	left:20%;
	font-size:30px;
	color:rgba(255,255,255,1);
	text-shadow: 2px 2px 2px #000;
	background-color: rgba(255,255,255,0);
}
#slide13 .slideno2{
}

/******************************
 SLIDE 16
*******************************/
#slide16{
	background:url(../images/slide6/madrid.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	overflow:hidden;
}
#slide16 .content_text:first-child{
	position:absolute;
	top:20%;
	left:20%;
	font-size:30px;
	color:rgba(255,255,255,1);
	text-shadow: 2px 2px 2px #000;
	background-color: rgba(255,255,255,0);
}
#slide16 .content_text:nth-child(2){
	position:absolute;
	top:70%;
	left:20%;
	padding:0 10px 5px 10px;
	font-size:30px;
	color:rgba(255,255,255,1);
	text-shadow: 2px 2px 2px #777;
	background-color: rgba(0,0,0,0.7);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
#slide16 .slideno2{
}

/******************************
 SLIDE 18
*******************************/
#slide18{
	background-color:#FFF;
	background-image:url(../images/slide18/snow.jpg);
    background-repeat: no-repeat;
	background-position: right top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	box-shadow: 0px -10px 10px rgba(0,0,0,0.5);
	height:100%;
	overflow:hidden;
}
#slide18 #gradient{
	background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
	background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
	background: -o-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
	background: -ms-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
	background: linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
}
#slide18 .content_text{
	position:absolute;
	bottom:20%;
	left:10%;
	width:80%;
	height:60%;
	font-size:20px;
	color:rgba(0,0,0,0.9);
	padding: 15px 10px 15px 20px;
	text-align:justify;
	text-shadow: 1px 1px 1px #AAA;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
#slide18 .slideno{
	top:0px;
	color:rgba(0,0,0,0.8);
}

/******************************
 SLIDE 28
*******************************/
#slide28{
	background-color:#333;
	background-image:url(../images/slide28/leather.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:50%;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.8);
	overflow:hidden;
}
#slide28 .button_top{
	display:inline-block;
	width:50px;
	height:50px;
	background-color:#333333;
	background-image:url(../images/arrow.png);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#slide28 .button_top:hover{
	background-color:#494949;
	cursor:pointer;
}
#slide28 .wrapper{
	position:relative;
	height:100%;
	text-align:center;
	font-size:15px;
	color:rgba(255,255,255,1);
	text-shadow: 1px 1px 1px #AAA;
}
#slide28 .wrapper a, #slide28 .wrapper a:visited{
	color:#FFF;
	text-decoration:underline;
}
#slide28 .wrapper a:hover{	
	text-decoration:none;
}
#slide28 .social{
	margin:20px;
}
#slide28 .copyright{
	position:absolute;
	bottom:0;
	left:50%;
}
#slide28 .copyright div{
	position:relative;
	left:-50%;
}